%ul#pictures
  - @pictures.each do |picture|
    %li
      = link_to picture do
        - if picture.media
          = picture.media.html_safe

#loading
  Loading...

- content_for :scripts do
  = javascript_include_tag :pictures

- content_for :client_templates do
  %script#picture-tmpl{:type => "text/tmpl"}
    %li
      %a{:href => "__HREF"}
        = "__MEDIA"

