%ol{apod: {pictures: true}}
  %li{ng: {repeat: 'picture in pictures'}, apod: {picture: true}}
    %a{ng: {href: '/pictures/{{picture.apid}}'}}
      %img{ng: {src: '{{picture.media_link}}', title: '{{picture.title}}'}}
      %span {{picture.title}}
