/*
 *= require_self
 */

@import "compass";
@import "compass/reset";

* { @include box-sizing(border-box); }

html, body {
    height:100%;
}

body {
    font-family:'Ubuntu';
    font-weight:300;

    overflow-y:scroll;
    height:100%;

    a {
        text-decoration:none;
        color:darkgreen;
    }
}

@import "pictures";
@import "picture";

